.mixin.out/**
.vscode/**
BallistixRejuvinationBlast/**
cache/**
ChatImageCache/**
coremods/**
crash-reports/**
kubejs/probe/**
kubejs/exported/**
ldlib/**
local/**
logs/**
mods/**
nbtexporter/**
patchouli_books/**
resourcepacks/**
saves/**
screenshots/**
shaderpacks/**
texturepacks/**
xaero/**
XaeroWaypoints_BACKUP240807/**
update/**
rhino.local.properties
servers.dat
patchouli_data.json
usercache.json
usernamecache.json
modpack_settings.json
old_version.txt
config/jei/world/**
config/inventoryprofilesnext/**
webhooks.json